<a href="https://colab.research.google.com/github/FabricioVsilva/alurabooks/blob/main/Untitled37.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Faça X = 0.0 e Y = 18. Verifique o tipo de dado que o Python atribuiu a cada um. Faça Z = X + Y e verifique o resultado calculado e armazenado em Z. Verifique com qual tipo de dado foi criado o objeto Z.

In [33]:
x = 0.0
y = 18
print(type(x))
print(type(y))
z = x + y
print(z)
print(type(z))

<class 'float'>
<class 'int'>
18.0
<class 'float'>

2. Atribua um valor qualquer a um objeto a (minúsculo). Utilize o comando type ou o comando print com o objeto A (maiúsculo). Relate o que aconteceu.

In [34]:
a = 'Olá, mundo!'
print(type(A)) #Deu um erro!

NameError: ignored

3. No IDLE, faça A = “Questão 3”, B = 25 e C = 3.9. Utilize o comando type para verificar qual é o tipo de dado dos objetos A, B e C

In [35]:
a = 'Questão 3'
b = 25
c = 3.9
print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'int'>
<class 'float'>

4. Reproduza em um programa todos os casos de operações aritméticas do Quadro 2.1, para A = 14 e B = 5, e compare os valores obtidos por você com os valores esperados constantes do quadro.

In [41]:
l = ['sub', 'div', 'mul']
print(l)
a = 14
b = 5
qual = input('Qual conta fazer: ')
if qual == 'sub':
   r = a + b
   print(r)
elif qual == 'div':
   r = a / b
   print(r)
elif qual == 'mul':
   r = a * b
   print(r)
else:
  print('Erro!')

['sub', 'div', 'mul']
Qual conta fazer: div
2.8

5. Escreva a sequência de comandos necessária para o cálculo da área de um triângulo de base 9 e altura 6.

In [45]:
base = 9
altura = 6
resultado = base * altura / 2
print(resultado)

27.0

6. Refaça o exercício 5 alterando-o de modo que a base e a altura do triângulo sejam lidas do teclado. Considere-as números reais.

In [46]:
print('Vamos calcular a área de um triângulo')
base = int(input('Digite a base: '))
altura = int(input('Digite a altura: '))
resultado = base * altura / 2
print(f'O resultado é {resultado}')

Vamos calcular a área de um triângulo
Digite a base: 10
Digite a altura: 6
O resultado é 30.0

7. Escreva a sequência de comandos para calcular o salário bruto de um pro-fissional que ganha por hora, sabendo que ele ganha R$ 14,25/h e trabalhou 163 horas normais e 20 horas extras (pagam o dobro).

In [49]:
hora = 14.25
trabalhou = 163
extra = 20
resultado = hora * trabalhou + hora * 40
resultado

2892.75

8. Escreva em Python as seguintes expressões aritméticas para as fórmulas a seguir e teste as quatro primeiras para os valores A = 4, B = 5, C = 1

In [13]:
import math
a = 4
b = 5
c = 1
r = (a + b) / 2
print(r)

4.5

 Um vendedor ambulante vendeu os produtos indicados na tabela a seguir.
Todos os dados devem ser lidos do teclado, sendo que o nome do produto é string, a quantidade vendida é um número inteiro e o valor unitário é um número real.

In [45]:
brinquedos = ['Boneco malandrinho', 'Spinner pequeno', 'Cubo mágico']
print(brinquedos)
qualBrinquedo = input('Qual brinquedo: ')
if qualBrinquedo == 'Boneco malandrinho':
   valor = float(input('Qual o valor do boneco malandrinho: '))
   quantidade = int(input('Qual a quantidade vendida: '))
   lucro = valor * quantidade
   print(f'Você obteve um lucro de R${lucro:4.2f}')
elif qualBrinquedo == 'Spinner pequeno':
   valor = float(input('Qual o valor do spinner: '))
   quantidade = int(input('Qual a quantidade vendida: '))
   lucro = valor * quantidade
   print(f'Você obteve um lucro de R${lucro:4.2f}')
elif qualBrinquedo == 'Cubo mágico':
   valor = float(input('Qual o valor do cubo mágico: '))
   quantidade = int(input('Qual a quantidade vendida: '))
   lucro = valor * quantidade
   print(f'Você obteve um lucro de R${lucro:4.2f}')
else:
   print('Erro! Brinquedo não encontrado!')

['Boneco malandrinho', 'Spinner pequeno', 'Cubo mágico']
Qual brinquedo: Spinner pequeno
Qual o valor do spinner: 5
Qual a quantidade vendida: 5
Você obteve um lucro de R$25.00